<p>Welcome in managemant couriers systems ! </p>

<h4>If you want to set new route, please click this button: </h4>

<%= link_to("Set route", set_index_path, class: "navbar-brand") %>

<h4>or if you want to monitoring courier, please click this buttons:</h4>

<%= link_to("Monitoring", monitor_index_path, class: "navbar-brand") %>

