#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  ont-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  ont-size: 12px;
}
#map {
  height: 400px;
  width: 400px;
}
#right-panel {
  float: right;
  width: 48%;
  padding-left: 2%;
}
#output {
  font-size: 11px;
}
.button {
  width: 150px;
  height: 30px;
  background: lightblue;
  margin: 10px;
  border: 1px solid black;
}

.sentToSidekiq {
  width: 200px;
  height: 30px;
  background: lightgreen;
}