<h1>New Place</h1>
<button id="save" onclick="save()">WYSLIJ DO RAILS</button>
<script>
 function save() {
        console.log('dziala');

        var places = [{
          'origin': 'Sanok1',
          'destination': 'Rzeszow',
          'distance': '80000'
        }, 
        {
          'origin': 'Sanok2',
          'destination': 'Krakow',
          'distance': '200000'
        },
        {
          'origin': 'Krakow3',
          'destination': 'Rzeszow',
          'distance': '160000'
      }];

      console.log(places);

        $.ajax({
        url : "/places",
        type : "post",
        data: JSON.stringify(places)
        
    });
   }
</script>
